:root {
    // Colors
    --color-text: hsl(0, 0%, 75%);
    --color-text-700: hsl(0, 3%, 31%);
    --color-title: hsl(228, 27%, 85%);
    --color-title-700: hsl(228, 9%, 21%);
    --color-white: hsl(0, 0%, 96%);
    --color-dark: hsl(0, 0%, 4%);
    --color-bg-overlay: hsla(0, 0%, 32%, 0.8);
    --color-bg-light: hsla(0, 7%, 35%, 0.6);
    --color-bg-primary: hsl(228, 19%, 25%);
    --color-bg-accent: hsl(228, 40%, 25%);
    --color-bg-main: hsl(0, 0%, 90%);
    --color-bg-warn: hsl(0, 60%, 45%);
    --color-bg-cancel: hsl(0, 0%, 59%);


    // Font families
    --font-family: 'Niramit', sans-serif;
    --font-family-stylish: 'Courgette', cursive;

    // Font weights
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    // Font sizes
    --font-size-text: 1.6rem;
    --font-size-title: 1.9rem;

    // Alignment
    --alignment-horizontal-space: 3rem;
    --topbar-height: 6.4rem;
}