$accent-color: #0497f8;

::ng-deep app-change-password {
  width: 100%;

  .mat-card {
    width: min(90%, 40rem);
    margin: 0 auto;
    background-color: var(--color-bg-light);
    color: var(--color-white);
    text-align: center;
    backdrop-filter: blur(10px);

    .mat-card-header {
      justify-content: center;
      margin-bottom: 3rem;

      .mat-card-title {
        margin: 0 auto;
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;

        span {
          color: $accent-color;
        }
      }
    }

    .mat-card-content {

      p {
        color: var(--color-white);
      }
      
      .mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
      }

      .submit-btn {
        width: 100%;
        background-color: $accent-color;
        color: var(--color-white);
      }
    }
  }
}

::ng-deep .mat-form-field-label,
input::placeholder,
.mat-form-field-underline {
  color: var(--color-white);
}

::ng-deep .mat-form-field-outline {
  background-color: var(--color-bg-light);
  opacity: 0.9;
}
