.wrapper {
    font-size: var(--font-size-text);

    .tool-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        gap: 3rem;

        .add-storeItem {
            background-color: var(--color-bg-primary);
            color: var(--color-white);
        }
    }

    .storeItems-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
        gap: 2rem;
    }
}

::ng-deep .mat-form-field-label,
::ng-deep .mat-select-arrow,
::ng-deep .mat-select-value {
    color: var(--color-white);

}
::ng-deep .mat-form-field-appearance-fill
          .mat-form-field-flex {
    background-color: var(--color-bg-primary);
    color: var(--color-white);

}
::ng-deep .mat-form-field-label {
    padding-bottom: 1rem;
}
::ng-deep .mat-form-field-underline {
    display: none;
}