@import "./sass/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-bg-primary);
}

a {
  text-decoration: none;
}

p {
  color: var(--color-text-700);
  font-size: var(--font-size-text);
}

h3 {
  color: var(--color-title-700);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
}

input,
input:focus {
  color: var(--color-text-700);
  font-size: var(--font-size-text);
  border: none;
  outline: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

ul {
  list-style: none;
}

.mat-card,
.mat-form-field {
  font-family: var(--font-family) !important;
}

.elevation-shadow-light {
  box-shadow: -2px 2px 4px -1px hsla(0, 0%, 100%, 0.2),
              -4px 4px 5px 0px hsla(0, 0%, 100%, 0.14),
              -1px 1px 10px 0px hsla(0, 0%, 100%, 0.12);
}
